{% comment %} 
The sidenav is not loaded by default on the main pages. To include this navigation you can either use the
_layouts/page.html layout template, or you can add "sidenav: true" in the front-matter of your pages
{% endcomment %}


<aside class="usa-layout-docs-sidenav desktop:grid-col-3 padding-bottom-4">
  <nav>
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="/eligibility">Eligibility</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="/readingroom">Reading Room</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="/recovery">Recovery Act</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="/open">Open Initiative</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="/plain-writing">Plain Writing</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="/budget-and-performance">Budget and Performance</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="/eeo">HR/EEO Page</a>
      </li>
      <li class="usa-sidenav__item">
        <a href="/transition">Transition Documents</a>
      </li>
    </ul>
  </nav>
</aside>
